<%= header %>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Notifications -->
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                Duct Blog Engine
                <small>Secondary Text</small>
            </h1>
            <!-- Blog post retrieved from DB -->
            <h2>
                <a href="#">Extended bottom-line adapter</a>
            </h2>
            <p class="lead">
                by <a href="#">Joannie Bechtelar DDS</a>
                <a href="#"><span class="badge" style="background-color: #C2E51D; vertical-align: 25%;">Voluptatem</span></a>
                <a href="#"><span class="badge" style="background-color: #10EDEA; vertical-align: 25%;">Quaerat</span></a>
                <a href="#"><span class="badge" style="background-color: #F15080; vertical-align: 25%;">Sint</span></a>
                <a href="#"><span class="badge" style="background-color: #BFE2EA; vertical-align: 25%;">Atque</span></a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on April 18, 2020 at 1:45 AM</p>
            <!--<button class="btn btn-default btn-sm pull-right">
              <span class="glyphicon glyphicon-heart"></span>
            </button> -->
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p></p>
            <p>Ducimus at voluptas blanditiis pariatur. Eius non neque pariatur ut repellendus tempore qui nemo. Et minima adipisci vitae.&nbsp;[...]</p>
            <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
            <h2>
                <a href="#">Ergonomic executive benchmark</a>
            </h2>
            <p class="lead">
                by <a href="#">Joannie Bechtelar DDS</a>
                <a href="#"><span class="badge" style="background-color: #F15080; vertical-align: 25%;">Sint</span></a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on November 12, 2019 at 12:37 PM</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p></p>
            <p>Vel dolor expedita et dolorem. Tempore dolores porro sunt qui dicta. Nobis et sed dicta suscipit dolor odio a. Nemo dicta enim et consequuntur.&nbsp;[...]</p>
            <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next disabled">
                    <a>
                        <i class="fa fa-long-arrow-left fa-lg"></i>
                        Newer →
                    </a>
                </li>
                <li class="previous">
                    <a href="#">
                        ← Older
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="well">
                <h4>Blog Search</h4>
                <form method="GET" action="#" accept-charset="UTF-8" class="" role="search">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search..." name="search" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div><!-- /. well -->
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <span style="margin:5px 10px 5px 0px; display: inline-block;"><a href="#" style=""><span class="badge" style="padding: 5px 10px; background: #F15080">Sint</span></a></span>
                        <span style="margin:5px 10px 5px 0px; display: inline-block;"><a href="#" style=""><span class="badge" style="padding: 5px 10px; background: #10EDEA">Quaerat</span></a></span>
                    </div>
                    <br />
                </div><!-- /. row -->
            </div><!-- /. well -->
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <img class="img-circle img-responsive pull-right" src="http://placehold.it/200x200">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div><!-- /. col-md-4 -->
    </div><!-- /. row -->
<%= footer %>
